<p>
  styledemo works!
</p>

<h1 id="myh1">Hi Welcome Style Demo</h1>
<h1 class="myclass">Hi Welcome Style Demo1</h1>

<h1 style="color: aqua;">Inline CSS Apply</h1>

<div class="myclass">Hopes So u r Understandable!!!!!!!</div> <br><br>

<div id="mydiv">Welcome to Hefshine</div>
<h2>End of basics of CSS here</h2>
<hr>
<h2>Here Onwards start Angular concept style Binding</h2>

<h1 [style.color]="colortext" >Basics Of Style Binding</h1>

<h1 [style.color]="rating<5?'red':'green'">Change Color Accroding rating</h1>

<h1 [style.color]="rating<5?colortext1:colortext2">Change Color Accroding rating using Property</h1>

<div [ngStyle]="myobj">Apply ngStyle Directive</div>